body {
  height: 100%;
  margin: 0;
}

@font-face {
      font-family: "Aileron";
      src: url("./css:fonts/aileron/Aileron-Thin.otf") format("truetype");
    }

  @font-face {
      font-family: "BebasNeue";
      src: url("./css:fonts/BebasNeue-Regular.ttf") format("truetype");
    }

  @font-face {
    font-family: "Regular"
    src: url("./css:fonts/aileron/Aileron-Regular.otf") format("truetype");
    }

  @font-face {
    font-family: "Bold"
    src: url("./css:fonts/aileron/Aileron-Bold.otf") format("truetype");
  }

p.width {
  width: 400;
  margin-left: 5%;
  font-family: "Aileron";
}

.li_style {
  width: 75%;
  margin-left: 5%;
  font-family: "Aileron";
}

.blog {
  width: 90%;
  margin-left: 5%;
  font-family: "Aileron";
}

.title {
  font-family: "BebasNeue";
  padding-top: 10px;
  margin-left: 5%;
}

.typed-out{
    overflow: hidden;
    border-right: 10px solid black;
    white-space: nowrap;
    font-size: 10px;
    width: 0;
    font-family: "BebasNeue";
    margin-left: 5%;
    padding-top: 10px;
    animation: typing 1.2s steps(34, end) forwards;
}

.container {
  display: inline-block;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


.pic {
  width: 200px;
  height: 250px;
  margin-left: 5%;
  margin-right: 5%;
}

.pic:hover{
   opacity: 0.5;
}

.buttonToLink{
   background-image: url('./sean-sinclair-ozqUdQZbjBw-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  padding: 40px 65px; 
  margin-left: 5%;
  font-size: 25px;
  font-family: "Aileron";
  flex-direction: row;
  cursor: pointer;
   border: none;
   color: white;
}

.buttonToLink2:hover{
   opacity: 0.5;
}

.buttonToLink2{
   background-image: url('./img/9037442.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  padding: 40px 65px; 
  margin-left: 5%;
  font-size: 25px;
  font-family: "Aileron";
  flex-direction: row;
  cursor: pointer;
   border: none;
   color: white;
}

.buttonToLink:hover{
   opacity: 0.5;
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  height: 22px;
  border-radius: 40px;
  color: #ffffff;
  border: 2px solid;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  width: 14px;
  top: 0;
  bottom: 0;
  left: -20px;
  border-radius: inherit;
  background: currentColor;
  box-shadow: -10px 0 12px 3px currentColor;
  clip-path: polygon(0 5%, 100% 0,100% 100%,0 95%,-30px 50%);
  animation: l14 1s infinite linear;
}
@keyframes l14 {
  100% {left: calc(100% + 20px)}
}

.loader-wrapper {
  background-image: url("./img/background.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1.25s, visibility 1.25s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader-wrapper-hidden {
  opacity: 0;
  visibility: hidden;
}

.header {
  background-image: url("./img/background.png");
  background-repeat: no-repeat;
  padding: 1.3rem;
  display: flex;
  top: 0;
  overflow: hidden;
  justify-content: flex-end;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-image: url("./img/background.png");
  background-repeat: no-repeat;
  color: white;
  font-family: "Aileron";
  text-align: center;
}

.nav-bar {
  margin: auto;
}

.nav-bar a {
  color: white;
  padding: 1.5rem;
  cursor: pointer;
  font-family: "Aileron";
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-bar a.icon {
  background-color: transparent;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.readMoreBtn{
  background-color: transparent;
  font-family: "Aileron";
  cursor: pointer;
  color: #bbb9ec;
  border: none;
  font-size: 15px;
  font-family: "Aileron";
  cursor: pointer;
}

readMoreBtn:hover{
   opacity: 0.5;
}
