  @font-face {
      font-family: "Aileron";
      src: url("./css:fonts/aileron/Aileron-Thin.otf") format("truetype");
    }

p.width {
  width: 400;
  font-family: "Aileron";
}

.li_style {
  width: 80%;
  font-family: "Aileron";
}
