  @font-face {
      font-family: "Aileron";
      src: url("./css:fonts/aileron/Aileron-Thin.otf") format("truetype");
    }

  @font-face {
      font-family: "BebasNeue";
      src: url("./css:fonts/BebasNeue-Regular.ttf") format("truetype");
    }

  @font-face {
    font-family: "Regular"
    src: url("./css:fonts/aileron/Aileron-Regular.otf") format("truetype");
    }

  @font-face {
    font-family: "Bold"
    src: url("./css:fonts/aileron/Aileron-Bold.otf") format("truetype");
  }

p.width {
  width: 400;
  margin-left: 5%;
  font-family: "Aileron";
}

.li_style {
  width: 75%;
  margin-left: 5%;
  font-family: "Aileron";
}

.title {
  font-family: "BebasNeue";
  padding-top: 10px;
  margin-left: 5%;
}

.header {
  width: 100%;
  height: 100px;
  vertical-align: top;
  display: block;
  font-family:"BebasNeue";
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./header.png');
  color: white;
  font-size: 30px;
}

.pic {
  width: 200px;
  height: 250px;
  margin-left: 5%;
  margin-right: 5%;
}

.buttonToLink{
   background-image: url('./sean-sinclair-ozqUdQZbjBw-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  padding: 40px 65px; 
  margin-left: 5%;
  font-size: 25px;
  font-family: "Aileron";
  cursor: pointer;
   border: none;
   color: white;
}

.buttonToLink:hover{
   opacity: 0.5;
}
